body {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path,
.y.axis path {
  display: none;
}


/* for donut chart */
path.slice{
  stroke: #fff;
  stroke-width:1px;
}

polyline{
  /*stroke: #dee0e3;*/
  opacity: 0.2;
  stroke: #000;
  stroke-width: 1px;
  fill: none;
}

.labels .label .value {
  font-size: 18px;
  font-weight: bold;
  fill: #494747;
}

.labels .label .os {
  font-size: 14px;
  font-weight: bold;
  fill: #a09f9e;
}
