body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path,
.y.axis path {
    display: none;
}


/* for donut chart */
path.slice{
	stroke: #fff;
	stroke-width:1px;
}

polyline{
	/*stroke: #dee0e3;*/
	opacity: 0.2;
	stroke: #000;
	stroke-width: 1px;
	fill: none;
}
