<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>MongoDB Download and Usage Report</title>
</head>

<body style="margin:0; padding:0; ">
  <table width="100%" bgcolor="#271B15" style="margin:0; padding:0;" style="font-family: 'PT Sans', Helvetica, Arial, sans-serif;">
    <tr>
      <td>
        <center>
          <table width="650" cellpadding="0" cellspacing="0" style="-webkit-font-smoothing:antialiased; ">
            <tr style="color:#ffffff; height:45px; " bgcolor="#3B291F">
              <td valign="middle" style="font-family:Arial, Helvetica, sans-serif; padding-left:25px; font-size:14px; ">
                <div class="mktEditable" id="Dynamic_Content_1" style="width:100%; ">
                    <strong>{{current_date.strftime('%B %d, %Y')}}</strong>
                </div>
              </td>
            </tr>
            <tr style="height:110px" bgcolor="#4E3629">
              <td align="center">
                <img src="{{url_for('static', filename='img/email-header.gif', _external=True)}}" alt="MongoDB Download and Usage Report" width="450" height="90">
              </td>
            </tr>
            <tr>
              <td>
                <div style="width:100%;">
                  <!-- Start With This -->
                  <table style="padding: 0; margin: 0;" cellspacing="0" cellpadding="0" width="650" align="left" bgcolor="#ffffff">
                    <!-- Article One Column -->
                    <tbody>
                      <tr align="center" bgcolor="#ffffff"><td height="20"></td></tr>
                      <tr align="center" bgcolor="#ffffff">
                        <td>
                          <table class="download-stats" style="font-family: 'PT Sans', Helvetica, Arial, sans-serif;">
                            <thead>
                              <tr>
                                <th style="font-size: 14px; text-align: left; font-weight: bold; color: #a09f9e; padding: 0 25px; border-bottom: 1px solid #f5f6f7;">&nbsp;</th>
                                <th id="previous-header" style="font-size: 14px; text-align: left; font-weight: bold; color: #a09f9e; padding: 2px 20px; border-bottom: 1px solid #f5f6f7;">{{previous_date.strftime('%B')}}</th>
                                <th id="projected-header" style="font-size: 14px; text-align: left; font-weight: bold; color: #a09f9e; padding: 2px 20px; border-bottom: 1px solid #f5f6f7;">{{current_date.strftime('%B')}} <span class="caveat" style="font-weight: normal;">(projected)</span></th>
                                <th colspan="2" style="font-size: 14px; text-align: left; font-weight: bold; color: #a09f9e; padding: 2px 20px; border-bottom: 1px solid #f5f6f7;">Change <span class="caveat" style="font-weight: normal;">(projected)</span></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="label" style="text-align: left; font-size: 36px; font-weight: bold; color: #494747; padding: 2px 20px; border-bottom: 1px solid #f5f6f7;">
                                  <strong style="display: block; text-align: right; font-size: 14px; text-transform: uppercase; color: #494747;">Total</strong>
                                  <span style="display: block; text-align: right; font-weight: normal; font-size: 12px; color: #a09f9e;">downloads</span>
                                </td>
                                <td id="previous-total" style="text-align: left; font-size: 36px; font-weight: bold; color: #494747; padding: 2px 20px; border-bottom: 1px solid #f5f6f7;">{{previous_total}}</td>
                                <td id="projected-total" title="current: {{current_total}}" style="text-align: left; font-size: 36px; font-weight: bold; color: #494747; padding: 2px 20px; border-bottom: 1px solid #f5f6f7;">{{projected_total}}</td>
                                <td style="text-align: left; font-size: 36px; font-weight: bold; color: #494747; padding: 2px 20px; border-bottom: 1px solid #f5f6f7;">
                                    <span id="total-change-value" class="change-number">{{total_change_value}}</span>
                                </td>
                                <td align="left" style="text-align: left; font-size: 36px; font-weight: bold; color: #494747; padding: 2px 20px; border-bottom: 1px solid #f5f6f7;">
                                {% if total_change == 2 %}
                                  <img src="{{url_for('static', filename='img/up-arrow.png', _external=True)}}" width="16" height="14" style="display:block;">
                                  <div id="total-change-percent" class="percent" style="font-size: 12px; color: #a09f9e; font-weight: normal;">{{total_change_percent}}</div>
                                {% elif total_change == 1 %}
                                  <div id="total-change-percent" class="percent" style="font-size: 12px; color: #a09f9e; font-weight: normal;">{{total_change_percent}}</div>
                                  <img src="{{url_for('static', filename='img/down-arrow.png', _external=True)}}" width="16" height="14" style="display:block;">
                                {% else %}
                                  <div id="total-change-percent" class="percent" style="font-size: 12px; color: #a09f9e; font-weight: normal;">{{total_change_percent}}</div>
                                {% endif %}
                                </td>
                              </tr>
                              <tr>
                                <td class="label" style="text-align: left; font-size: 36px; font-weight: bold; color: #494747; padding: 2px 20px; border-bottom: 1px solid #f5f6f7;">
                                  <strong style="display: block; text-align: right; font-size: 14px; text-transform: uppercase; color: #494747;">Unique</strong>
                                  <span style="display: block; text-align: right; font-weight: normal; font-size: 12px; color: #a09f9e;">downloads</span>
                                </td>
                                <td id="previous-unique" style="text-align: left; font-size: 36px; font-weight: bold; color: #494747; padding: 2px 20px; border-bottom: 1px solid #f5f6f7;">{{previous_unique}}</td>
                                <td id="projected-unique" title="current: {{current_unique}}" style="text-align: left; font-size: 36px; font-weight: bold; color: #494747; padding: 2px 20px; border-bottom: 1px solid #f5f6f7;">{{projected_unique}}</td>
                                <td style="text-align: left; font-size: 36px; font-weight: bold; color: #494747; padding: 2px 20px; border-bottom: 1px solid #f5f6f7;">
                                    <span id="unique-change-value" class="change-number">{{unique_change_value}}</span>
                                </td>
                                <td align="left" style="text-align: left; font-size: 36px; font-weight: bold; color: #494747; padding: 2px 20px; border-bottom: 1px solid #f5f6f7;">
                                {% if unique_change == 2 %}
                                  <img src="{{url_for('static', filename='img/up-arrow.png', _external=True)}}" width="16" height="14" style="display:block;">
                                  <div id="unique-change-percent" class="percent" style="font-size: 12px; color: #a09f9e; font-weight: normal;">{{unique_change_percent}}</div>
                                {% elif unique_change == 1 %}
                                  <div id="unique-change-percent" class="percent" style="font-size: 12px; color: #a09f9e; font-weight: normal;">{{unique_change_percent}}</div>
                                  <img src="{{url_for('static', filename='img/down-arrow.png', _external=True)}}" width="16" height="14" style="display:block;">
                                {% else %}
                                  <div id="unique-change-percent" class="percent" style="font-size: 12px; color: #a09f9e; font-weight: normal;">{{unique_change_percent}}</div>
                                {% endif %}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr align="center" bgcolor="#ffffff"><td height="20"></td></tr>
                      <tr align="center" bgcolor="#ffffff">
                        <td>
                          <img src="{{url_for('static', filename='img/downloads-over-time-header.gif', _external=True)}}" alt="Downloads Over Time" width="219" height="32" style="margin:20px 0 0 0;">
                          <img src="{{url_for('static', filename='img/viz.gif', _external=True)}}" width="610" style="width:610px;margin-top:20px;margin-bottom:30px;" />
                        </td>
                      </tr>
                      <!-- Article Two Column Right Photo -->
                      <tr align="center" bgcolor="#f5f6f7">
                        <td>
                          <img src="{{url_for('static', filename='img/downloads-by-os-header.gif', _external=True)}}" alt="Downloads by OS" width="219" height="32" style="margin:30px 0 20px 0;">
                          <img src="{{url_for('static', filename='img/pie_viz.gif', _external=True)}}" width="580" style="width:580px;margin-top:20px;margin-bottom:20px;" />
                        </td>
                      </tr>
                      <!-- Article Two Column Left Photo -->
                      <tr align="center" bgcolor="#f5f6f7">
                        <td style="border-top:1px solid #ebebed;">
                          <img src="{{url_for('static', filename='img/downloads-by-os-over-time-header.gif', _external=True)}}" alt="Downloads by OS Over Time" width="219" height="32" style="margin-top:30px;">
                          <img src="{{url_for('static', filename='img/line_viz.gif', _external=True)}}" width="610" style="width:650px;margin-top:20px;margin-bottom:40px;" />
                        </td>
                      </tr>
                      <!-- Article Two Column Right Photo -->
                      <tr align="center" bgcolor="#ffffff">
                        <td>
                          <img src="{{url_for('static', filename='img/versions-over-time-header.gif', _external=True)}}" alt="Version Distribution Over Time" width="260" height="32" style="margin:30px 0 10px 0;">
                          <img src="{{url_for('static', filename='img/stack.gif', _external=True)}}" width="610" style="width:650px;margin-top:20px;" />
                        </td>
                      </tr>
                      <!-- Footer Bar Dark -->
                      <tr align="center" bgcolor="#3b291f">
                        <td>
                          <p style="font-family: 'PT Sans', Helvetica, Arial, sans-serif;color:#fff;padding:50px">Internal Only</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>
