<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/viz.css" />
    </head>
    <style>
        svg { 
            background-color: #f5f6f7;
        }
        body {
          background-color: #f5f6f7;
        }
        .x.axis path {
          display: none;
        }

        .line {
          fill: none;
        }
    </style>
    <body>
        <ul class="legend">
            <li>
                <span class="square windows"></span>
                <span class="label">Windows</span>
            </li>
            <li>
                <span class="square linux"></span>
                <span class="label">Linux</span>
            </li>
            <li>
                <span class="square osx"></span>
                <span class="label">Mac OS X</span>
            </li>
            <li>
                <span class="square source"></span>
                <span class="label">Source</span>
            </li>
            <li>
                <span class="square other"></span>
                <span class="label">Other</span>
            </li>
        </ul>
        <div id="viz"></div>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/d3.min.js"></script>
        <script type="text/javascript" src="/static/js/underscore-min.js"></script>
        <script type="text/javascript" src="/static/js/line_viz.js"></script>
    </body>
</html>
