<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/viz.css" />
  </head>
  <body>
    <table class="download-stats">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>March</th>
          <th>April <span class="caveat">(projected)</span></th>
          <th>Change <span class="caveat">(projected)</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="label">
            <strong>Total</strong>
            <span>downloads</span>
          </td>
          <td>259,938</td>
          <td>259,938</td>
          <td>
            <span class="change-number">253</span>
            <div class="change-indicator">
              <div class="up"></div>
              <div class="percent">2%</div>
              <div class="down"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="label">
            <strong>Unique</strong>
            <span>downloads</span>
          </td>
          <td>259,938</td>
          <td>259,938</td>
          <td>
            <span class="change-number">253</span>
            <div class="change-indicator">
              <div class="up"></div>
              <div class="percent">2%</div>
              <div class="down"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/d3.min.js"></script>
  </body>
</html>
